{
  "log": {
    "_recordingName": "cloudflare_dns_zone",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.0.4"
    },
    "entries": [
      {
        "_id": "69bf9b312ec9f285bd94755d4fd4a53c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "per_page",
              "value": "500"
            }
          ],
          "url": "https://api.cloudflare.com/client/v4/zones?page=1&per_page=500"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1675,
            "text": "{\"result\":[{\"id\":\"404fee157799ba12d44a636528ac7c8e\",\"name\":\"erkang.com\",\"status\":\"active\",\"paused\":false,\"type\":\"full\",\"development_mode\":0,\"name_servers\":[\"dora.ns.cloudflare.com\",\"kirk.ns.cloudflare.com\"],\"original_name_servers\":[\"ns0.dnsmadeeasy.com\",\"ns1.dnsmadeeasy.com\",\"ns2.dnsmadeeasy.com\",\"ns3.dnsmadeeasy.com\",\"ns4.dnsmadeeasy.com\"],\"original_registrar\":\"godaddy.com, llc (id: 146)\",\"original_dnshost\":null,\"modified_on\":\"2020-05-08T20:49:51.636508Z\",\"created_on\":\"2020-04-26T01:15:40.919665Z\",\"activated_on\":\"2020-04-26T01:17:57.837679Z\",\"meta\":{\"step\":2,\"wildcard_proxiable\":false,\"custom_certificate_quota\":0,\"page_rule_quota\":3,\"phishing_detected\":false,\"multiple_railguns_allowed\":false},\"owner\":{\"id\":\"5f0f00a3aba833b320f495a71f2e9956\",\"type\":\"user\",\"email\":\"erkang@gmail.com\"},\"account\":{\"id\":\"209732935e34e48e396793c87747fb54\",\"name\":\"erkang@gmail.com\"},\"permissions\":[\"#access:edit\",\"#access:read\",\"#analytics:read\",\"#app:edit\",\"#auditlogs:read\",\"#billing:edit\",\"#billing:read\",\"#cache_purge:edit\",\"#dns_records:edit\",\"#dns_records:read\",\"#lb:edit\",\"#lb:read\",\"#legal:edit\",\"#legal:read\",\"#logs:edit\",\"#logs:read\",\"#member:edit\",\"#member:read\",\"#organization:edit\",\"#organization:read\",\"#ssl:edit\",\"#ssl:read\",\"#stream:edit\",\"#stream:read\",\"#subscription:edit\",\"#subscription:read\",\"#teams:edit\",\"#teams:read\",\"#teams:report\",\"#waf:edit\",\"#waf:read\",\"#webhooks:edit\",\"#webhooks:read\",\"#worker:edit\",\"#worker:read\",\"#zone:edit\",\"#zone:read\",\"#zone_settings:edit\",\"#zone_settings:read\"],\"plan\":{\"id\":\"0feeeeeeeeeeeeeeeeeeeeeeeeeeeeee\",\"name\":\"Free Website\",\"price\":0,\"currency\":\"USD\",\"frequency\":\"\",\"is_subscribed\":false,\"can_subscribe\":false,\"legacy_id\":\"free\",\"legacy_discount\":false,\"externally_managed\":false}}],\"result_info\":{\"page\":1,\"per_page\":500,\"total_pages\":1,\"count\":1,\"total_count\":1},\"success\":true,\"errors\":[],\"messages\":[]}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 254,
      },
      {
        "_id": "674bacc911d066b3a58b2cdd70cfd91c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "per_page",
              "value": "500"
            }
          ],
          "url": "https://api.cloudflare.com/client/v4/zones/404fee157799ba12d44a636528ac7c8e/dns_records?page=1&per_page=500"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 4290,
            "text": "{\"result\":[{\"id\":\"2df84cd0993c2bd7d688cc1746fded19\",\"zone_id\":\"404fee157799ba12d44a636528ac7c8e\",\"zone_name\":\"erkang.com\",\"name\":\"ds.erkang.com\",\"type\":\"A\",\"content\":\"192.168.1.101\",\"proxiable\":false,\"proxied\":false,\"ttl\":1,\"locked\":false,\"meta\":{\"auto_added\":false,\"managed_by_apps\":false,\"managed_by_argo_tunnel\":false,\"source\":\"primary\"},\"created_on\":\"2020-04-26T01:15:45.694056Z\",\"modified_on\":\"2020-04-26T01:15:45.694056Z\"},{\"id\":\"4131a52ae53afc33d2aa8f28245463c6\",\"zone_id\":\"404fee157799ba12d44a636528ac7c8e\",\"zone_name\":\"erkang.com\",\"name\":\"erkang.com\",\"type\":\"A\",\"content\":\"96.45.83.246\",\"proxiable\":true,\"proxied\":true,\"ttl\":1,\"locked\":false,\"meta\":{\"auto_added\":false,\"managed_by_apps\":false,\"managed_by_argo_tunnel\":false,\"source\":\"primary\"},\"created_on\":\"2020-0[...]
