{
  "log": {
    "_recordingName": "cloudflare_account",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.0.4"
    },
    "entries": [
      {
        "_id": "80883beabdc3abc4de07b1a28f99cbe6",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "per_page",
              "value": "500"
            }
          ],
          "url": "https://api.cloudflare.com/client/v4/accounts?page=1&per_page=500"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 626,
            "text": "{\"result\":[{\"id\":\"209732935e34e48e396793c87747fb54\",\"name\":\"My Account\",\"type\":\"standard\",\"settings\":{\"enforce_twofactor\":false,\"access_approval_expiry\":null},\"legacy_flags\":{\"enterprise_zone_quota\":{\"maximum\":0,\"current\":0,\"available\":0}},\"created_on\":\"2020-04-26T01:15:30.497692Z\"}],\"result_info\":{\"page\":1,\"per_page\":20,\"total_pages\":1,\"count\":1,\"total_count\":1},\"success\":true,\"errors\":[],\"messages\":[]}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 359,
      },
      {
        "_id": "56cdb23070cecb9714482ab89c4e8015",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "per_page",
              "value": "500"
            }
          ],
          "url": "https://api.cloudflare.com/client/v4/accounts/209732935e34e48e396793c87747fb54/members?page=1&per_page=500"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 1127,
            "text": "{\"result\":[{\"id\":\"8024\",\"user\":{\"id\":\"1f2e9956\",\"first_name\":null,\"last_name\":null,\"email\":\"user@company.com\",\"two_factor_authentication_enabled\":false},\"status\":\"accepted\",\"roles\":[{\"id\":\"f42f953d\",\"name\":\"Super Administrator - All Privileges\",\"description\":\"Can edit any Cloudflare setting, make purchases, update billing, and manage memberships. Super Administrators can revoke the access of other Super Administrators.\",\"permissions\":{\"organization\":{\"read\":true,\"edit\":true},\"zone\":{\"read\":true,\"edit\":true},\"ssl\":{\"read\":true,\"edit\":true},\"dns_records\":{\"read\":true,\"edit\":true},\"waf\":{\"read\":true,\"edit\":true},\"analytics\":{\"read\":true,\"edit\":false},\"zone_settings\":{\"read\":true,\"edit\":true},\"billing\":{\"read\":true,\"edit\":true},\"cache_purge\":{\"read\":false,\"edit\":true},\"logs\":{\"read\":true,\"edit\":true},\"lb\":{\"read\":true,\"edit\":true},\"app\":{\"read\":false,\"edit\":true},\"member\":{\"read\":true,\"edit\":true},\"access\":{\"read\":true,\"edit\":true},\"subscription\":{\"read\":true,\"edit\":true},\"worker\":{\"read\":true,\"edit\":true},\"webhooks\":{\"read\":true,\"edit\":true},\"legal\":{\"read\":true,\"edit\":true},\"stream\":{\"read\":true,\"edit\":true},\"auditlogs\":{\"read\":true,\"edit\":false},\"teams\":{\"read\":true,\"edit\":true}}}]}],\"result_info\":{\"page\":1,\"per_page\":20,\"total_pages\":1,\"count\":1,\"total_count\":1},\"success\":true,\"errors\":[],\"messages\":[]}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 202,
      },
      {
        "_id": "0cce5e71b964b5057edf07c0cec4b6bb",[...]
